

.body{
    font-family: Verdana;
    margin: 0;
    padding: 0;
}
.header,footer{
    position: absolute;
    background-color:rgb(10, 123, 204);;
    width: 100%;
    color: white;
}
.header{
    height: 10vh;
}
.footer{
    height: 15vh;
    bottom: 0;
}
.footerh2{
position:absolute;
left: 45%;

}
.headerh2{
position: absolute;
margin-top: 20px;
left: 20%;
}
.nav{
position: absolute;
width: 100%;
}
.nav a{
position: relative;
left: 45%;
top: 20px;
color: white;
text-decoration: none;
margin-right: 20px;

}   
